<h1><%= @restaurant.name%></h1>
<h2>Cuisine: <%= @restaurant.category%></h2>
<p><%= @restaurant.address%></p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-primary" %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-primary" %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
